:root {
    --primary-color: #081B33;
    --secondary-color: #E54A35;
    --tertiary-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header style start */

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    }

.logo {
    display: flex;
    margin-right: auto;
    width: 75px;
    height: 75px;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
}

header a:hover {
    color: var(--secondary-color)
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* Header style end */

/* About me style */

section, footer {
    padding: 30px 0 20px 0;
}

section {
    padding: 30px 0 20px 0;
}

.primary-section {
    background: var(--primary-color);
}

.section-title1 {
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 10px;
    text-align: center;
    margin: 10px auto 20px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex:25%
}

.about-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about-img {
    flex: 1 24%;
    margin-right: 20px;
}

.about-img img {
    max-width: 100%;
    border-radius: 25px;
}

.primary-text {
    flex: 12;
}

.primary-text h3 {  
    color: var(--tertiary-color);
    font-size: 30px;
    padding: 0 0 0 30px;
}

.primary-text p {
    color: var(--tertiary-color);
    font-size: 20px;
    padding: 0 0 0 30px;
}

.about {
    margin: 20px auto;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* About me style end */

/* My project style */

.secondary-section {
    background: var(--tertiary-color);
}

.section-title2 {
    font-size: 48px;
    color: var(--primary-color);
    border-bottom: 3px solid;
    padding-bottom: 10px;
    text-align: center;
    margin: 0 auto 20px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex:25%
}

.projects-bottom {
    width: 70%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-top {
    width: 70%;
    height: 20%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.project-card {
    margin: 20px;
    background: var(--primary-color);
    color: var(--tertiary-color);
    flex: 1;
    border-radius: 10px;
    height: 20%;
}

.project-card img {
    max-width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    opacity: 0.5;
}

.project-card img:hover {
    opacity: 1;
    transition-delay: 10ms;
}

.project-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
    line-height: 1.3;
    align-content: center;
    text-align: center;
}

.project-info h3 {
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 0px;
    text-align: center;
}

.projects-top .project-info{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 0px;
    display:inline;    
}

.projects-top p {
    font-weight: normal;
}

.project-info p {
    font-size: 17px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

/* Projects Style End */

/* Contact me section start */

.contact-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.contact-link img {
    height: 50px;
    width: 50px;
}

.contact-link a {
    text-decoration: none;
    padding: 20px;
}

.contact-me-text {
    color: var(--secondary-color);
    font-size: 20px;
    padding: 10px 0 10px 0;
    text-align: center;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    
    header .logo {
        width: 100%;
        text-align: center;
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
 
    header nav ul li a {
        font-size: 20px;
    }
 
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
 
    .about {
        text-align: center;
    }
 
    .section-title1, .section-title2 {
        width: 80%;
    }

    .secondary-section {
        flex: 0 70%;
    }
 
 }
 
 /* MEDIA QUERY FOR TABLETS AND SMALLER */
 @media screen and (max-width: 768px) {
     section {
         padding: 30px 15px;
     }
 
     .about {
         flex: 1 100%;
         text-align: center;
     }
 
     .about-info {
         flex: 2 100%;
         text-align: center;
         justify-content: center;
     }
 
     .about-img {
         flex: 0 32%;
         margin-right: 0;
         margin-top: 15px;
         margin-bottom: 15px;
     }
 
     .primary-text {
         flex: 100%;
     }
     
 }
 
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
 
     .section-title1, .section-title2 {
         width: 95%;
     }

     .about-img {
         width: 100%;
     }
 
     .about p {
         width: 100%;
     }
      
     .projects-top {
         flex: 0 100%;
     }

     .projects-bottom {
        flex: 0 100%;
    }
 
     .contact-me-text {
         text-align: center;
     }
 
     .contact-link > * {
         flex: 0 100%;
     }
  }

